{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
            <div class="book col-md-4">
                <h2><a href="{% url 'book_page' book.pub_date %}">{{ book.name }}</a></h2>
                <p>{{ book.author }}</p>
                <p>{{ book.pub_date }}</p>
            </div>
            {% endfor %}
        </div>

        <div class="pagination">
            <span class="step-links">
                {% if page.has_previous %}
                    <a href="{% url 'book_page' date=previous_date %}"> <-&nbsp{{ previous_date|date:'Y-m-d' }}</a>
                {% endif %}

                {% if page.has_next %}
                    <a href="{% url 'book_page' date=next_date %}">{{ next_date|date:'Y-m-d' }}&nbsp-> </a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}